# flake8 will ignore these files
[flake8]
exclude = 
    .venv,
    .git,
    __pycache__,
    build,
    dist,
    moulinette_pkg,
    vllm-0.10.1,
    datasets_public,
    subjects
max-line-length = 79